.navbar {
    /* top: 69px;
    left: 629px; */
    width: 792px;
    height: 82px;
    background: red;
    border-radius: 52px;
    opacity: 1;
    position: fixed;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}