.menus{
    min-height: 100vh;
    padding-bottom: 40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    border-bottom: 2px solid grey;

}

.menus li {
    height: 320px;
    width: 250px;
    margin: 10px;
    border: 1px solid red;
    display:flex;
    align-items:center;
    flex-direction: column; 
    padding-bottom: 20px;
    font-size: 13px;
}

 
  
@media screen and (max-width: 780px) { 
    .menus{
        justify-content: center;
    }
}
