.order-page {
    display:flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}

.order-page .back-btn {
    width: 100px;
    display:flex;
    justify-content: left;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.order-page .ready-head {
    width: 100%;
    font-family:'Ojuju';
    font-weight: 700;
}

.order {
    min-height: 100vh;
    padding-bottom: 40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid grey;
    margin: 0 100px;
}

.order .set1 {
    margin-bottom: 20px;
}

.order .set2 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.order .manage-orders {
    width:600px;
    height: 500px;
    border: 1px solid red;
    box-shadow: 0px -1px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px 10px;
}

.manage-orders .main-dishes {
    height: 280px;
    overflow-y: auto;

}

.main-dishes .dish {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 85px;
    margin: 7px 0;
    width: 100%;
    font-size: 13px;
    flex-wrap: wrap;
}

.dish .checker {
    width: 20px;
    height: 20px;
    font-weight: 100;
    accent-color:  rgb(255, 196, 0);
    margin: 3px 10px 3px 0;
    cursor: pointer;
}

.main-dishes .img-description {
    display: flex;
    align-items: center;
    justify-content: left;
}

.main-dishes img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.main-dishes .dish-img {
    height: 85px;
    width: 125px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 15px;
}

.dish-description p {
    line-height: 15px;
}

.main-dishes .dish-description {
    width: 280px;
    height: 60px;
    margin-right: 10px;
}

.main-dishes .dish-price-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    width: 80px;
}

.dish-price-quantity  .dish-price {
    font-weight: 600;
}

.dish-price-quantity .dish-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15px;
}

.dish-counter .dish-quantity {
    font-weight: 500;
    height: 20px;
    width: 30px;
    padding: 0px;
}

.dish-counter button {
    font-weight: 700;
    height: 20px;
    width: 25px;
    border: none;
    background-color: rgb(255, 196, 0);
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manage-orders .divider {
    width: 100%;
    background-color: rgb(192, 186, 186);
    height: 2px;
    margin: 15px 0px;
    
}

.manage-orders .extras {
    height: 150px;
}

.extras h6 {
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.extras .item1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.item1 .okro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.okro .input {

}

.extras .item2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.item2 .beans {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.beans input {

}

.extras .checker {
    width: 20px;
    height: 20px;
    font-weight: 100;
    accent-color:  rgb(255, 196, 0);
    margin-right: 10px;
    cursor: pointer;
}

.manage-orders .extras h2{
    font-family: 'Ojuju', "sans serif";
    font-weight: 600;
    color:red;
    font-size: 23px;
    padding-left: 30px;
}



.order .recipient-details {
    width:500px;
    height: 500px;
    padding:0 50px;
}

.order .recipient-details h2 {
    font-family: 'Ojuju', "sans serif";
    font-weight: 600;
    color:red;
    font-size: 23px;
}



.recipient-details form {
    width:400px;
    height: 500px;
    display:flex;
    flex-direction: column;

}

.recipient-details form input {
    height: 40px;
    margin-top: 15px;
    outline: none;
    border: none;
    background: transparent;
    color:black;
    border-bottom: 2px solid rgb(172, 172, 172);
}

.recipient-details form #prompt {
    color:grey;
    font-style: italic;
    font-size: 15px;
    margin-top:5px;
}

.recipient-details .make-payment{
    width:400px;
    height: 215px;
    border: 1px solid red;
    margin-top:15px;
    box-shadow: 0px -1px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}



.make-payment .enti-price {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 600;
    width: 100%;
}

.enti-price .entities {
    display:flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}

.enti-price .gross-price {
    display:flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
}

.make-payment .pay {
    font-weight: 600;
    background-color: rgb(202, 0, 0);
    border-radius: 50px;
    width: 100%;
    border: none;
    color: white;
    height: 35px;
    cursor: pointer;
}

/* @media screen and (max-width: 600px) {
    .order-page {
        background: green;
    }
    .manage-order{
        margin:0;
    }

    .recipient-details .set1{
        margin:0;
    }
} */