.contacts {
    width:100%;
    min-height: 85vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 50px;
    flex-wrap:wrap;
}

.profile {
    min-height: 65vh;
    width: 500px;
    margin: 30px;
}

.profile p{
    font-weight: 500;
    font-size: 20px;
    color:white;
}

.profile ul {
    background: white;
    min-height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    padding: 20px 30px;
}

.profile ul li {
    display: flex;
    align-items: center;
}

.profile #iconic {
    font-size: 25px;
    margin-right: 10px;
    color:rgb(219, 0, 0);
}

.contacts form {
    min-height: 65vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color:white;
    margin: 30px;
}

.contacts form h1 {
    color:white;
    font-weight:700;
}

.contacts form h1 span {
    color:rgb(219, 0, 0);
}

.contacts .contact-form input {
    border: none;
    color:white;
    border-bottom: 1px solid white;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    background: transparent;
}

.contacts form .send-btn {
    outline:none;
    border:none;
    border-radius:20px;
    background:red;
    height: 40px;
    color: white;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    display:flex;
    align-items: center;
    justify-content: center;
}